.footer{
	background-color: #490549;
	width: 100%;
	position: relative;
}

.footer p{
	color:rgb(229, 180, 241);
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	margin: 15px 0 0 0;
	font-family: 'Dancing Script', cursive;
}